# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f061fc7dca58118701308dcf1420d036494d57921f7d5990e85ee66e6b924078d8e45bcaed63ec99900bde656fbf48ff9e3ad2d3b14aa170a8567e161055dc99

test:
  secret_key_base: 2abc2cb08f163b6f387810d2290bc58a00b2dc0a9e9771f7890cf32a775a5945c944f096435409101eebcc58b2adaac9edbf98d032c8ebc44e0abcea8767a4fb

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
